<html>
    <head>
        <title> Midterm Exam App</title>
        <link rel="stylesheet" href="static/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = "login-container">
            <form>
                <h1>Login</h1>
                <label>
                    <span>Email/Username</span>
                    <input type="email"/>
                </label>
                <label>
                    <span>Password</span>
                    <input type="password"/>
                </label>
                <div class = "buttoncontainer">
                    <button>Login</button>
                    <button>Registration</button>
                </div>
            </form>
        </div>
        
    </body>
</html>